@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'EB Garamond';
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 4.5rem;
}

.counter-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.counter-el{
    text-align: center;
}

.counter-el span{
    font-size: 1.5rem;
}